.container-jokes {
  height: 100vh;
  display: flex;
  background-color: lightblue;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.jokes-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  color: black;
}
.leftPane {
  flex: 0 1 30%;
}