.container2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
 
}
.content2 {
  width: 600px;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
}
.box {
  width: 100px;
  height: 100px;
}