.singleBox {
  border: 1px red solid;
}
.box-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 40px;  
}
.box-place {
  display: flex;
  flex-direction: row;
  & div {
    margin-top: 20px;
  }
}